@mixin hand($width, $height, $color) {
  position: absolute;
  background-color: $color;
  width: $width;
  height: $height;
  left: 50%;
  margin-left: -($width/2);
  margin-top: (97-$height);
  transform-origin: 50% 95%;
  transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #498afa;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#clock {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-sizing: border-box;
  background: #3657ad;
  border: 8px solid white;
}

#minute-hand {
  @include hand(10px, 80px, white);
}

#hour-hand {
  @include hand(10px, 50px, white);
}

#second-hand {
  @include hand(4px, 80px, #498afa);
}

#middle {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: black;
  width: 2px;
  height: 2px;
  margin-top: -1px;
  margin-left: -1px;
  border-radius: 100%;
}
